body {
    background: #000;
}

header {
    background: #151515 url("../images/bkg.png") 0 0;
    margin: 0 0 20px 0;
}

header h1 {
    margin: 0;
    font-size: 35px;
}

header .container {
    position: relative;
}

#main_content h2
{
    border-bottom: 1px dashed #b5e853
}

.container_menu {
    width: 100%;
    border-top: 1px dashed #b5e853;
    border-bottom: 1px dashed #b5e853;
    padding: 20px 0;
    background: #151515 url("../images/bkg.png") 0 0;
}

.container_menu ul {
    padding: 0;
}

.container_menu ul li {
    list-style: none;
}

table tbody {
    vertical-align: top;
}

.rouge-table {
    margin: 0;
}

.rouge-gutter {
    width: 30px;
}

.rouge-gutter pre, .rouge-code pre {
    border: none;
}

#downloads { 
    position: absolute;
    top: 5px;
    right: 0;
}

@media screen and (max-width: 710px) { 
    #downloads { display: none; }
}
    
@media screen and (max-width: 480px) { 
    header h1 { font-size: 26px; }
    #main_content h1, h1 { font-size: 24px; }
    #main_content h2, h2 { font-size: 22px; }
    #main_content h3, h3 { font-size: 20px; }
    #main_content h4, h4 { font-size: 18px; }
}
@media screen and (max-width: 320px) {
    header h1 { font-size: 24px; }
    #main_content h1, h1 { font-size: 22px; }
    #main_content h2, h2 { font-size: 18px; }
    #main_content h3, h3 { font-size: 16px; }
    #main_content h4, h4 { font-size: 14px; }
}