<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  <head>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/custom.css">

    {% seo %}
  </head>
  <body>
    <header>
      <div class="container">
        <a id="a-title" href="/"><h1>platformops.dev</h1></a>
        <section id="downloads">
          <a href="https://github.com/qbituniverse/platformops.dev/archive/main.zip" class="btn">.zip</a>
          <a href="https://github.com/qbituniverse/platformops.dev/archive/main.tar.gz" class="btn">.tar.gz</a>
          <a href="https://github.com/qbituniverse/platformops.dev" arget="_blank" class="btn btn-github"><span class="icon"></span>GitHub</a>
        </section>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <div class="container_menu">
      <div class="container">
        <ul>
          <li><h2><a href="/azure-devops">./ Azure DevOps</a></h2></li>
          <li><h2><a href="/azure-cloud">./ Azure Cloud</a></h2></li>
          <li><h2><a href="/google-cloud">./ Google Cloud</a></h2></li>
          <li><h2><a href="/aws-cloud">./ AWS Cloud</a></h2></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <footer>
        <p><a href="/">platformops.dev</a> maintained by <a href="https://www.linkedin.com/in/marcinnarloch" target="_blank">Marcin Narloch</a> from <a href="https://qbituniverse.com" target="_blank">qbituniverse.com</a> source code on <a href="https://github.com/qbituniverse/platformops.dev" target="_blank">GitHub</a></p>
      </footer>
    </div>
  </body>
</html>